<html> 
    <head> 

    </head>

    <body> 
        <form action="/es_cinque" method = 'GET'>
            scegli la tua forma geometrica: <br>
            
            <select name="forme">
                <option value="cerchio">cerchio</option>
                <option value="rettangolo">rettangolo</option>
                <option value="pentagono">pentagono</option>
                <option value="quadrato">quadrato</option>
            </select><br><br>
            <input type = "submit" value = "submit"/> 
        </form>
    </body>

</html>